body{
  overflow-x: hidden;
}

:root{
  --homeCarousel: 0px;
  --homeCarouselRec: 0px;
  --homeCarouselChan: 0px;
}

.homeResHide {
  max-width: 1100px;
}
.VideoList1{
  width: 7765px;
  transition: 0.5s ease;
  transform: translateX(var(--homeCarousel));
}
.VideoListRec{
  width: 7765px;  
  transition: 0.5s ease;
  transform: translateX(var(--homeCarouselRec));
}
.VideoListChan{
  width: 7765px;
  transition: 0.5s ease;
  transform: translateX(var(--homeCarouselChan));
}

.Homeimg1{
    width: 50px;
    height: 40px;
  }
  .VideoList{
    width: 1140px;
    display: flex;
    gap: 0 20px;
  }
  .VideoList::-webkit-scrollbar{
    display: none;
  }

  .HomeVideo{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    text-align: left;
    border: none;
    text-decoration: none;
    color: black
  }
  .HomeRecVideo{
    width: 450px;
    height: 300px;
    overflow: hidden;
  }
  .VideoImg{
    height: 80%;
    border-radius: 20px;
  }
  .h3{
    color: gray;
  }
  .carouselBtn{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: grey;
    border: none;
    color: #fff;
  }
  .RecVidImg{
    height: 250px;
  }
  .resLayout{
    display: none;
    width: 100%;
    height: 70px !important;
    padding: 10px 20px !important;
    justify-content: space-between;
    border-top: 1px solid grey;
    box-shadow: 0 0 10px grey;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFF;
  }
  .subsBtn:focus{
    background: grey;
    border: grey;
  }
  .resLink{
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  }


  @media (max-width: 450px) {
    body{
      overflow-x: hidden;
    }
    .homeResHide{
      display: none !important;
    }
    .VideoList{
      overflow: initial;
      flex-direction: column;
    }
    .ResVid{
      width: 440px !important;
    }
    .HomeRecVideo{
      width: 450px !important;
      height: 300px !important;
      padding: 0 15px 0 10px;
      display: inline-block !important;
    }
    .HomevidBottom{
      width: 450px;
      display: flex !important;
      flex-direction: column;
      justify-content: none !important;
    }
    .VideoImg{
      border: 1px solid;
      margin-bottom: 5px;
      height: 180px;
    }
    .resLayout{
      display: flex;
    }
    .resLink:focus{
      color: red;
    }
    .homebottom{
      display: flex;
      width: 350px;
      justify-content: space-between;
    }
  }
  @media (max-width: 800px) {
    body{
      overflow-x: hidden;
    }
    .homeResHide{
      display: none !important;
    }
    .HomeRecVideo{
      width: 800px;
      height: 250px;
      padding: 10px;
      display: flex;
    }
    .HomevidBottom{
      display: flex !important;
      justify-content: space-between !important;
      flex-direction: column;
    }

    .VideoList{
      overflow: initial;
      flex-direction: column;
    }
    .VideoImg{
      width: 500px;
      height: 230px !important;
    }
    .resLayout{
      display: flex;
    }
    .resLink:focus{
      color: red;
    }
  }